body{
    background: url(https://cdn.pixabay.com/photo/2012/08/27/14/19/mountains-55067_1280.png);
}
#title{
    color: rgb(186, 133, 9);
}

.subtitle{
    color: rgb(87, 97, 187);
}
#service-image{
    height: 400px;
    width: 70%;

    background: url(../img/img-2.jpg);
    background-repeat: repeat;
}
