body{
    background: rgb(130, 153, 204,.5);
}
#welcomeImage{
    height: 300px;
    width: 40%;

    border: 6px solid black;
    padding: 2px 2px;
    float: right;
}

.images{
    float: inline-start;
}
